html, body {
	background-color: #eef2f0;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
body{
	overflow-x: hidden;
}
/* Titulo ESTRATEGIA*/
.mainTitle {
	font-size: 5em;
	color: blue;
	text-align: center;
	font-family: "Georgia";
}

/*########### RTC ###########*/
.rect {
	position: relative;
	background-color: #dbdbdb;
	padding: 20px 50px;
	border: 2px solid darkgrey;
	border-radius: 5%;
	z-index: 10;
	cursor: pointer;
	display: inline-block;
	width: 150px;
}

.tamano {
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 5px;
}

.complejidad {
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 5px;
}

/*########### Clone RTC and Extra Classes ###########*/
.clone {
	position: relative;
	background-color: #dbdbdb;
	width: 150px;
	padding: 20px 50px;
	border: 2px solid darkgrey;
	border-radius: 5%;
	display: inline-block;
}

.display {
	display: none;
}

.noLeft {
	left: 0 !important;
}
/*########### TABLE ###########*/
div.table-responsive{
	height: 100%;
}

table td, thead th {
	border-color: #0000bb !important;
}

table td {
	width: 180.556px;
	height: 66.170px;
	min-width: 180.556px;
	max-width: 180.556px;
}

tbody {
	max-height: 50px;
	overflow-y: auto;
}

thead{
	border-color: #0000bb !important;
	border-top: 1px solid #0000bb;
}
/*########### BUTTON SAVE STARTEGY ###########*/
div.button{
	float:right;
	margin: 0 20px 20px 0;
	padding: 7px 20px;
	border: 1px solid black;
	border-radius: 10%;
	background-color: #79d959;
	color: white;
	text-shadow: 1px 1px black;
	box-shadow: 0 2px 2px black;
	cursor:pointer;
	
}
div.disabled{
	pointer-events:none;
	cursor:not-allowed;
	-webkit-filter: opacity(30%);
	filter: opacity(30%);
}

a.button{
	color: white !important;
	font-weight: bold;
}

div.button:hover{
	box-shadow: 0 1px 2px black inset;
}

/*########### SELECT ###########*/
td .ui-selecting {
	background: #6dd175;
}

td .ui-selected {
	background: #dffe0a;
	color: white;
}

/*########### TOOLTIP ###########*/
.tooltip-inner, .arrow {
	background: #97d2e6;
	border: 2px solid white;
}

.tooltip-inner {
	padding: 10px 20px;
	color: black;
	border-radius: 20px;
	font: bold 12px "Times New Roman", Sans-Serif;
	text-transform: uppercase;
	box-shadow: 0 0 7px black;
}

/*########### DROP CALCSHEET ###########*/
#drop{
	border:2px dashed #bbb;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	padding:25px;
	text-align:center;
	font:20pt bold,"Vollkorn";color:#bbb;
	cursor: pointer;
	width: 100%;
}


/*########### ANIMACIÓN CARGA ###########*/

.lds-dual-ring {
 	display: inline-block; 
	width: 128px; /* 64*/
	height: 128px;/* 64*/
 	margin-left: 50%;
	margin-right: 50%;
}

.lds-dual-ring:after {
	content: " ";
	display: block;
	width: 92px; /*46px*/
	height: 92px; /*46px*/
	margin: 1px;
	border-radius: 50%;
	border: 5px solid rgb(104, 104, 104);
	border-color: rgb(104, 104, 104) transparent rgb(104, 104, 104) transparent;
	animation: lds-dual-ring 1.2s linear infinite;
}

.parent {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  
}

.loginAnimation {
  display: inline-block;
}

@keyframes lds-dual-ring {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

/*########### ESTRATEGIAS ###########*/
.cartas{
	flex-direction: row !important;
	flex-wrap: wrap;
}
.cartas > a{
	margin: 0 2% 1% 0;
}
.estartegiasCard{
	border-radius: 5%;
	padding: 20px;
	width: 187.52px;
	height: 96px;
	max-width: 187.52px;
	max-height: 96px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: none;	
}

.ended {
	background-color: rgb(250, 142, 123);
}

.ended:hover {
	background-color: rgb(231, 132, 114);
}

.started {
	background-color: #6dd175; 
}

.started:hover {
	background-color: #65c26d; 
}

.newStrategy {
	background-color: rgb(201, 201, 201); 
}
.newStrategy:hover {
	background-color: rgb(182, 182, 182); 
}

.divOptions{
	border-top-left-radius: 10%;
	border-top-right-radius: 10%;
	display: flex;
	flex-direction: column;
	margin-top : 2px;
	max-height: 0;
}

.options{
	background: silver;
	color: white;
	padding: 0 18px;
	animation: .4s linear example;
	border-bottom : 1px solid #e2e2e2;
}

a .active:not(.ended) {
  background-color: #65c26d;
}
a .active{
	background-color: rgb(231, 132, 114);
}

@keyframes example {
  from {max-height: 0; color:#eef2f0;}
  to {max-height: 23px; color:#eef2f0;}
}

/*########### MODAL ###########*/
.detailsSubtitle{
	font-size:18px;
}

/*########### ESTADOS Y DAILY ###########*/

.estadoInicialDaily, .grey{
	background-color: #dbdbdb;
}

.estadoActualDaily, .blue{
	background-color: #4485fd;
}

.estadoFinal, .orange {
	background-color: #ffcf75;
}

.completadoTareaDaily, .green{
	background-color: #79f79e;
}

.subEstadoBloqueado, .red{
	background-color: #fa8072;
}

.subEstadoPausado, .yellow{
	background-color: #ffff53;
}

/* Color para cuando el estado actual de la tarea sea el mismo que el estado final y el inicial */
.sameEstadoIAF, .gradientGreyBlueOrange{
	background-color: #dd8575 !important; /* For browsers that do not support gradients */
 	background-image: linear-gradient(to right, #dbdbdb 20%, #4485fd, #ffcf75 85%); /* Standard syntax (must be last) */
}
/* Color para cuando la tarea tenga como estado actual su estado inicial */
.sameEstadoInicialActual, .gradientGreyBlue{
	background-color: #f55cde !important; /* For browsers that do not support gradients */
	background-image: linear-gradient(to right, #dbdbdb 30%, #4485fd); /* Standard syntax (must be last) */
}

/*########### FILTER ###########*/
#filter{
	cursor:pointer;
}
.accordion-toggle::before{
	display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
 }

.card-header::after {
    content: "\f054";    
  	font-family: "Font Awesome 5 Free";
  	font-weight: 900;
  	float:right;
}

.arrowDown::after{
	content: "\f078";    
	font-family: "Font Awesome 5 Free";
  	font-weight: 900;
  	float:right;
}
.card{
	margin-top: 5px;
}
/*########### LOGIN FORM ###########*/
.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.login-form-1{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
    text-align: center;
    color: #333;
}
.login-container form{
    padding: 10%;
}
.login-form-1 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}
.login-form-1 .ForgetPwd{
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}

/* Toggle Password */
#togglePasswd {
	float: right;
	margin-right: 10px;
	margin-top: -25px;
	position: relative;
	z-index: 2;
}