html, body {
	background-color: #eef2f0;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
/* Titulo */
.mainTitle {
	font-size: 5em;
	color: blue;
	text-align: center;
	font-family: "Georgia";
}

/* Style form login */
.formulario {
	margin-left: 40%;
	margin-top: 10%;
}

/* Toggle Password */
#togglePasswd {
	float: right;
	margin-right: 10px;
	margin-top: -25px;
	position: relative;
	z-index: 2;
}
/* Cada uno de los RTC */
.rect {
	position: relative;
	background-color: #dbdbdb;
	padding: 20px 50px;
	border: 2px solid darkgrey;
	border-radius: 5%;
	z-index: 10;
	cursor: pointer;
}

.tamano {
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 5px;
}

.complejidad {
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 5px;
}

/* Atributos de los RTC y cuando se modifican */
.orange {
	background-color: #ffcf75;
}

.clone {
	position: relative;
	background-color: #dbdbdb;
	padding: 20px 50px;
	border: 2px solid darkgrey;
	border-radius: 5%;
	display: inline-block;
}

.display {
	display: none;
}

.noLeft {
	left: 0 !important;
}
/* TABLE Attributes */
table td, thead th {
	border-color: #0000bb !important;
}

table td {
	width: 180.556px;
	height: 66.170px;
	min-width: 180.556px;
	max-width: 180.556px;
}

tbody {
	max-height: 50px;
	overflow-y: auto;
}

/* Selected */
td .ui-selecting {
	background: #6dd175;
}

td .ui-selected {
	background: #dffe0a;
	color: white;
}
